{{define "head"}}
<title>Зворотній звязок</title>
{{end}}
{{define "body"}}
  <div class="container">
      <div>Дякуємо за звернення, <b>{{.Name}}</b></div>
      <div>Ми відповімо на <b>{{ .Email }}</b> протягом декількох днів</div>
      <div >Ваше звернення:<br> <b class="text-feed">{{.Description }}</b> </div>
  </div>
<style>
    .text-feed {
        font-size: 18px;
    }
    .container div {
        font-size: 25px;
    }
</style>
{{end}}