{{define "head"}}
<title>Головна</title>
{{end}}
{{define "body"}}

<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            {{range .Cars}}
            <div class="carousel-item">
                <img src="media/{{.Image}}" class="d-block w-100" alt="...">
            </div>
            {{end}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="headline bg-light mr-md-3 pt-3  pt-md-5  col-12 col-md-6 text-center overflow-hidden  ">
            <div class="w-100">
                <h2 class="display-5">Автомобілі</h2>
                <p class="lead">Відкрий для себе нові можливості</p>
            </div>
            <div class="cardIcon">
                <a class="btn btn-light" href="/cars">Дізнатись більше</a>
                <img src="media/multivan.jpg">
            </div>

        </div>
        <div class="headline bg-light mr-md-3 pt-3 pt-md-5  col-12 col-md-6 text-center overflow-hidden">
            <div class="w-100">
                <h2 class="display-5">Автосервіс</h2>
                <p class="lead">Залишайся на ходу</p>
            </div>
            <div class="cardIcon">
                <a class="btn btn-light" href="/service">Дізнатись більше</a>
                <img src="media/service.jpg">
            </div>
        </div>
    </div>
    <div class="container marketing info">


        <hr class="featurette-divider">


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">R-line.<span class="text-muted"> Щоденний спортивний характер</span></h2>
                <p class="lead">
                    + 1.4 TSI (150 к.с.) / 8-ступ. АКП<br>
                    + Keyless Access система безключового запуску двигуна, відкривання/закривання дверей, та кришки
                    багажника <br>
                    + Клімат-контроль “Climatronic” <br>
                    + Цифрова панель приладів Digital Cockpit Pro <br>
                    + Круїз-контроль <br>
                    + Бездротова зарядка для смартфона <br>
                    + Підігрів передніх сидінь та керма <br>
                    + LED Plus світлодіодні фари ближнього та дальнього світла <br>
                    + LED денні ходові вогні<br>
                    + Задні світлодіодні LED ліхтарі <br>
                    + Амбієнтна підсвітка інтер’єру 30 кольорів <br>
                    + Медіасистема “Ready 2 Discover” 10”, Bluetooth, 2 USB-C роз’єми спереду і 2 для задніх пасажирів,
                    онлайн сервіси We Connect, цифрове радіо DAB+, 6+1 динаміків <br>
                    + Система прогресивного керма <br>
                    + Підсвітка ручок дверей <br>
                    + Підсвітка простору перед дверима <br>
                    + Парктронік спереду та ззаду <br>
                </p>
            </div>
            <div class="col-md-5">
                <img src="media/golf_1.jpg">
            </div>
            <div class="order">
                <a href="/contact" type="button"
                   class="btn btn-lg btn-block btn-outline-primary btn btn-light">Замовити</a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette ft ">

            <div class="col-md-7 ">
                <h2 class="featurette-heading">Пакет Silver.<span class="text-muted">
Для комплектацій Touareg</span></h2>
                <p class="lead">
                    <b>Надає вигоду при замовленні наступних опцій:</b><br>
                    + Легкосплавних дисків "Osorno" R19 або інших з аналогічною чи вищою ціною<br>
                    + Шкіряного салона Vienna ErgoComfort<br>
                    + Декоративних вставок із натурального дерева та підсвітки салону Ambiente білого кольору<br>
                    + Комфортного закриття дверей із доводчиками<br>
                    + Пневматичної підвіски із можливістю вибору профіля їзди або іншого типу пневматичної підвіски
                    більш високого рівня<br>
                    + Memory пакета<br>
                    + Кольору металік або перламутру</span>
                </p>
            </div>

            <div class="col-md-5">
                <img src="media/touareg_1.jpg">
            </div>
            <div class="order">
                <a href="/contact" type="button"
                   class="btn btn-lg btn-block btn-outline-primary btn btn-light">Замовити</a>
            </div>
        </div>

        <hr class="featurette-divider">


    </div>
</main>
<script>
    $('.carousel-inner .carousel-item:first-child').addClass("active");
</script>
{{end}}
