{{define "head"}}
<title>Автосервіс</title>
{{end}}
{{define "body"}}
<main role="main">

    <section class="jumbotron text-center"
             style="background-image: url('media/service_main.jpg'); background-size: cover">
        <div class="container">
            <h1 class="jumbotron-heading" style="color: white">Автосервіс</h1>
            <p class="lead " style="color: white">Залишайся на ходу</p>
            <p>
                <a href="/contact" class="btn btn-primary my-2">Записатись</a>
                <a href="tel:38000000000" class="btn btn-secondary my-2">Подзвонити</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">


                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="media/service.jpg" data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Новини</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="media/service.jpg" data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Новини</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="media/service.jpg" data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Новини</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="media/service.jpg" data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Новини</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="media/service.jpg" data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Новини</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="media/service.jpg" data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Новини</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</main>
{{end}}