
.nav > li > a:hover {
    background-color: #FCC;
}

.dropdown-item {
    color: coral;
}

.menu-drop {
    opacity: 0;
    transform: scaleY(0);
    display: none;
    transition: all 3s;

}

.menu-drop a {
    text-decoration: none;
    color: #434343;
    display: block;
    width: 100%;
    padding: 20px 40px;
    font-size: 1rem;
}

.menu-drop a:hover {
    background: #565656;
    color: white;
}

.navbar-nav {
    margin-left: 3vw;
}

.nav-item {
    box-sizing: border-box;
    margin-left: 20px;
}

.nav-item:hover a {
    border-bottom: 3px solid gray;
    /*margin-bottom: -3px;*/
}

.carousel-item img {
    height: 100px;
    width: 50%;
}

.menu:hover .menu-drop {
    margin-top: 3px;
    opacity: 1;
    transform: scaleY(1);
    display: block;

    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: #F8F9FA;

}

header {
    background-color: transparent;
    position: relative;
    z-index: 10000;
}

main {
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

#carouselExampleIndicators .carousel-control-prev-icon {
    margin-left: -5vw;
}

.carousel-control-next-icon {
    margin-right: -5vh;
}

#carouselExampleIndicators img {
    height: 90vh;
}

footer {
    font-size: 1.2rem;
    background: #1E1E24;

}

footer svg {
    width: 40px;
}

.headline .btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    bottom: 5%;
}

.headline .btn:hover {
    color: black;
    background-color: white;
}

.order {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ft {
    display: flex;
    flex-direction: row-reverse;

}

.ft img {
    margin-left: -20px;
    margin-bottom: 20px;
}

.info .btn {

    width: 50%;
}

.info img {
    width: 100%;

}

.cardIcon {
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_logo {
    color: #343a40;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

main .container {
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
    .menu:hover .menu-drop {
        display: block;
        margin-top: 0px;
    }

    #carouselExampleIndicators img {
        height: 50vh;
    }

    .menu-drop a {
        padding: 5px 10px;
    }

    footer .container {
        margin-top: -30px;
    }

    footer .container a {

        text-align: center;
        margin: 5px 5px;
    }

    footer svg {
        display: none;

    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.card a {
    overflow: hidden;

}

.card-img-top {
    max-height: 270px;
    transition: 0.3s all ease;
}

.hover-zoom:hover {
    transform: scale(1.25);
}
.display-5 + .lead {
    width: 100%;
    text-align: center;
}
.cardIcon img {
    height: 300px;
    border-radius: 21px 21px 0 0;
    max-width: 500px;

}

.nav-link.active {
    border-bottom: 3px solid gray
}
